In [2]:
import mysql.connector as mariadb

In [9]:
def generate_user_table():
    con = mariadb.connect(
        host = "localhost",
        user = 'root',
        password = 'password',
        database = 'test_db'
    )
    print("connected to test_db")
    cur = con.cursor()
    st1 = "create table user_table2(email varchar(100), \
        name varchar(50), \
        password varchar(30))"
    st2 = "INSERT INTO user_table2 \
            (email, name, password) VALUES \
            ('ywbaek@perscholas.org', 'young', 'letsgomets'), \
            ('mcordon@perscholas.org', 'marcial', 'perscholas'), \
            ('mhaseeb@perscholas.org', 'haseeb', 'platform')"
    cur.execute(st1)
    cur.execute(st2)
    print("got it")
    con.commit()
    con.close()
generate_user_table()

connected to test_db
got it

In [3]:
def get_all_users():
    con = mariadb.connect(
        host = "localhost",
        user = 'root',
        password = 'password',
        database = 'test_db'
    )
    print("connected to test_db")
    cur = con.cursor()
    st = "SELECT * FROM user_table2"
    cur.execute(st)
    result = cur.fetchall()
    print(result)
    con.close()
get_all_users()

connected to test_db
[('ywbaek@perscholas.org', 'young', 'letsgomets'), ('mcordon@perscholas.org', 'marcial', 'perscholas'), ('mhaseeb@perscholas.org', 'haseeb', 'platform')]

In [13]:
def get_user_by_name(name):
    con = mariadb.connect(
        host = "localhost",
        user = 'root',
        password = 'password',
        database = 'test_db'
    )
    print("connected to test_db")
    cur = con.cursor()
    st = f"SELECT email, password FROM user_table2 WHERE name = '{name}'"
    cur.execute(st) 
    result = cur.fetchall()
    print(result)
    con.close()
get_user_by_name('young')

connected to test_db
[('ywbaek@perscholas.org', 'letsgomets')]

In [36]:
def validate_user(email, password):
    con = mariadb.connect(
        host = "localhost",
        user = 'root',
        password = 'password',
        database = 'test_db'
    )
    print("connected to test_db")
    cur = con.cursor()
    st = f"SELECT email, password FROM user_table2 WHERE email = '{email}' and password = '{password}'"
    cur.execute(st) 
    answer = cur.fetchall()
    result = True
    if answer == []:
        result = False
    con.close()
    return result
validate_user('ywbaek@perscholas.org', 'letsgomets')

connected to test_db

True

6.

In [4]:
def update_user(email, name, password):
    con = mariadb.connect(
        host = "localhost",
        user = 'root',
        password = 'password',
        database = 'test_db'
    )
    print("connected to test_db")
    cur = con.cursor()
    st1 = f"SELECT * From user_table2 WHERE email = '{email}'"
    cur.execute(st1)
    result = cur.fetchall()
    if result != []:
        st2 = f"update user_table2 \
        SET name = '{name}' and password = '{password}' \
            WHERE email = '{email}'"
        con.commit()
        return True
    if result == []:
        return False
update_user('ywbaek@perscholas.org', 'Lucy', 'letitgo')

connected to test_db

True