In [1]:
import mysql.connector as mariadb

Open the database using the connect method.
*since we are opening something, what else might we need to be?
*hint: close

In [7]:
con= mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)

print("Connecting to MariaDB Database...")

Connecting to MariaDB Database...

Let's check and see if we actually made a connection. To do this we need to create a cursor. We do this by calling the cursor method.

In [8]:
cur = con.cursor()

st="SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine = '{}'"

cur.execute(st.format('Motorcycles'))

In the cell above we created and exectued our sql statement. But we have not used any methods to actually access this data from our select statement.

In [9]:
result = cur.fetchall()
print(result)

[('Motorcycles', 13)]

That worked great!
Let's make a new database without using the GUI or mysql shell.

In [5]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()
st = "CREATE DATABASE test_db"
cur.execute("CREATE DATABASE test_db")
print("test_db created")
con.close()

Connecting to MariaDB Database...
test_db created

Add a table to the database just created.

In [7]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()
st = "CREATE TABLE Registration \
    (id INTEGER, age INTEGER, \
        first VARCHAR(50), last VARCHAR(50))"
cur.execute(st)
print("Reg table created")
con.close()

Connecting to MariaDB Database...

ProgrammingError: 1050 (42S01): Table 'registration' already exists

Insert data into our newly created table. 
REMINDER: DDL (data description language)- Create, Drop, Alter
DQL (data query language)- SELECT
DML (data manipulation language) - INSERT, UPDATE, DELETE

In [2]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()

st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"

cur.execute(st)
con.commit()
print('values are inserted')
con.close()

Connecting to MariaDB Database...
values are inserted

Let's check how to see our values without using a GUI. We are using a different method here. Instead of the .fetchall() method.

In [6]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()
st = "SELECT * FROM Registration"

cur.execute(st)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))
con.close()

# alternatively could do:
# result = cur.fetchall()
# print(result)

Connecting to MariaDB Database...
ID: 100, AGE: 30, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 30, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Play with LIKE operator.

In [4]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()
st = "SELECT * FROM Registration WHERE first LIKE '%ICH%'"

cur.execute(st)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))
con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan

UPDATE example
*update is past of DML so we want to use the commit method on our connection object.

In [5]:
con = mariadb.connect(
    host = "localhost",
    user = "root",
    password = "password",
    database = "classicmodels"
)
print("Connecting to MariaDB Database...")
cur = con.cursor()
st = "UPDATE Registration \
    SET age = 30 WHERE id IN (100,101)"
cur.execute(st)
con.commit()
print("yes")
con.close()

Connecting to MariaDB Database...
yes

Example of using SQL actions with a try and except block

In [7]:
try:
    con = mariadb.connect(
        user = "root",
        password = "password",
        database = "classicmod_wrong"
    )
    print("yeah")
    con.close()
except mariadb.Error as e:
    print(e)

1049 (42000): Unknown database 'classicmod_wrong'